@import '@styles/var';

.header {
  padding: 20px 0;
  color: $color-black;
}

.container {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 32px;
}

@media(max-width: 768px) {
  .header {
    padding: 20px 0 10px;
    color: $color-black;
  }

  .title {
    font-size: 24px;
  }
}

@media(max-width: 420px) {
  .title {
    font-size: 18px;
  }
}
